[submodule "TJML-UNet-Competition"]
	path = TJML-UNet-Competition
	url = https://github.com/anishs37/TJML-UNet-Competition
[submodule "RSNA-pneumonia"]
	path = RSNA-pneumonia
	url = https://github.com/anishs37/RSNA-pneumonia
[submodule "ctrl-shift-eye"]
	path = ctrl-shift-eye
	url = https://github.com/anishs37/ctrl-shift-eye
[submodule "ALERTS-App"]
	path = ALERTS-App
	url = https://github.com/ALERTS-Technologies/ALERTS-App
